owner: gerald
image_name: readerlm-litserve
repo_url: https://github.com/geraldthewes/readerlm-litserve.git
git_ref: main
dockerfile_path: Dockerfile
registry_url: registry.cluster:5000
image_tags:
  - latest

test:
  gpu_required: true
  health_endpoint: /health
  health_timeout: 180
  container_port: 8000
  python_cwd: "tests"
  python_command: "python-executor run --requirements requirements.txt --file test_api_integration.py"
  env:
    NVIDIA_VISIBLE_DEVICES: "all"
  resource_limits:
    cpu: "2000"
    memory: "16384"
