owner: gerald
image_name: readerlm-litserve
repo_url: https://github.com/geraldthewes/readerlm-litserve.git
git_ref: main
dockerfile_path: Dockerfile
registry_url: registry.cluster:5000
image_tags:
  - latest

test:
  health_endpoint: /health
  health_timeout: 60
  container_port: 8000
  python_cwd: "tests"
  python_file: "test_api_integration.py"
  python_requirements: "requirements.txt"
  resource_limits:
    cpu: "1000"
    memory: "4096"
